@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap");
/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
html,body{
    background: #FFF;
}
.btn-primary{
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    gap: 8px;
}

/* header styles */
header {
  max-width: 1440px;
  width: 100%;
  padding: 60px 120px;
  
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  cursor: pointer;
}
.nav ul li {
  list-style: none;
  
}
.nav i{
    font-size: 1.1rem;
    color: black;
}
.nav ul a{
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}
.nav-title h1 {
  color: #3a3a3a;
  font-size: 2rem;
  font-weight: 700;
}
 
/* banner styles */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0px;
    gap: 170px;
}
.banner-info {
    width: 500px;
    
}

.banner-title{
    color: #3A3A3A;
    font-size: 3rem;
    font-weight: 700;
}
.banner-description{
    margin: 16px 0px;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}















/* responsive media queries */
/* for small devices */
@media screen and (max-width: 576px) {
    header{
        padding: 30px;
    }
    .nav ul li,.ri-search-2-line{
        display: none;
    }
    .nav-title h1{
        font-size: 1rem;
    }
    .banner{
        flex-direction: column-reverse;
        width: 100%;
        gap:30px;
        text-align: center;
    }
    .banner-img img,.banner-info {
        width: 100%;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .banner-description{
        font-size: 0.9rem;
        font-weight: 500;
    }
    
     
}


/* for medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 40px;
    }
    .nav ul li,.ri-search-2-line{
        display: none;
    }
    
    .nav-title h1{
        font-size: 1.2rem;
    }
    .banner{
        flex-direction: column-reverse;
        width: 100%;
        gap:40px;
        text-align: center;
    }
    .banner-img img,.banner-info {
        width: 100%;
    }
    .banner-title{
        font-size: 1.8rem;
    }
    .banner-description{
        font-size: 0.9rem;
        font-weight: 500;
    }
    
}