@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
}
html,
body {
  background: #fff;
}
main section {
  margin-top: 60px;
}
.description {
  margin: 16px 0px;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}
.btn-primary {
  border-radius: 41px;
  background: #e02c6d;
  padding: 10px 24px;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  gap: 8px;
}
.logo,
.features {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0px;
}

/* header styles */
header {
  padding: 60px 120px 0px;
  width: 100%;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  cursor: pointer;
}
.nav ul li {
  list-style: none;
}
.nav i {
  font-size: 1.1rem;
  color: black;
}
.nav ul a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}
.nav-title h1 {
  color: #3a3a3a;
  font-size: 2rem;
  font-weight: 700;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
  gap: 170px;
}
.banner-info {
  width: 500px;
}

.banner-title {
  color: #3a3a3a;
  font-size: 3rem;
  font-weight: 700;
}
.banner-img img{
  background-image: url(../images/Circle\ design.svg);
  background-size: 100% 100%;
  
}

/* main styles */
/* section logo */

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

/* popular section */
.popular {
  width: 100%;
}
.popular-container {
  width: 70%;
  margin: 50px auto;
}
.popular-title {
  text-align: center;
  margin-bottom: 40px;
  color: #3a3a3a;
  font-size: 1.5rem;
}
.popular-column {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  border-radius: 8px;
  background: #fff;
  width: 292px;
  padding: 23px;
  height: 476px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
.card img {
  width: 250px;
  height: 256px;
}
.card h1 {
  font-size: 1.4rem;
  font-weight: 500px;
  color: #18191f;
  line-height: 40px;
}
.card h2 {
  font-size: 1.3rem;
  color: #000000de;
  font-family: "Inter", sans-serif;
}
.card p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #787885;
  line-height: 143%; /* 20.02px */
  letter-spacing: 0.252px;
}
.card i {
  color: #fb8200;
}

/* features section */

.features .btn-primary {
  border-radius: 0;
}
.features-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.features-products {
  width: 50%;
}
.features-title {
  font-size: 2rem;
}

/* footer styles */
.footer-content {
  background: #0a0826;
  color: #fff;
  text-align: center;
  padding: 50px 120px;
  width: 100%;
}
.footer-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
  gap: 16px;
}
.footer-icons i {
  font-size: 2rem;
}
.footer-content p {
  color: #d9dbe1;
}

/* responsive media queries */
/* for small devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px 20px 0px;
  }
  .nav ul li,
  .ri-search-2-line {
    display: none;
  }
  .nav-title h1 {
    font-size: 1rem;
  }
  .banner,
  .features-container {
    flex-direction: column-reverse;
    width: 100%;
    gap: 30px;
    padding: 30px;
    text-align: center;
  }
  .banner-img img,
  .banner-info {
    width: 100%;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .banner-description {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .banner-img img {
    width: 202px;
    height: 190px;
  }
  .logo,
  .features {
    width: 100%;
    padding: 10px;
  }
  .logo-img {
    flex-wrap: wrap;
    gap: 25px;
  }
  .logo-img img {
    width: 20%;
    height: 20%;
  }
  .footer-content {
    padding: 40px 50px;
  }
  .footer-title {
    font-size: 1rem;
  }
  .footer-content p {
    font-size: 0.8rem;
  }
  .footer-icons i {
    font-size: 1.3rem;
  }

  .features-products {
    width: 100%;
    text-align: center;
  }
  .features .features-img img {
    width: 100%;
  }
  .features-title {
    font-size: 1.5rem;
  }
  .popular-container {
    width: 100%;
    margin: 50px auto;
  }
  .popular-title {
    font-size: 1.2rem;
  }
  .popular-column {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 329px;
    height: 476px;
  }
  .card img {
    width: 100%;
  }
}

/* for medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 30px 30px 0px;
  }
  .nav ul li,
  .ri-search-2-line {
    display: none;
  }

  .nav-title h1 {
    font-size: 1.2rem;
  }
  .banner,
  .features-container {
    flex-direction: column-reverse;
    width: 100%;
    gap: 40px;
    text-align: center;
  }
  .banner-img img,
  .banner-info {
    width: 100%;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .banner-description {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .logo,
  .features {
    width: 100%;
    padding: 25px;
  }
  .logo-img {
    flex-wrap: wrap;
  }

  .features-products {
    width: 100%;
    text-align: center;
  }
  .features .features-img img {
    width: 100%;
  }
  .features-title {
    font-size: 1.8rem;
  }
  .popular-container {
    width: 100%;
  }
  .popular-column {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .popular-container {
    width: 100%;
    margin: 50px auto;
  }
  .popular-title {
    font-size: 1.2rem;
  }

  .card {
    width: 90%;
  }
  .card img {
    width: 100%;
  }
}
